---
import RequestButton from "./RequestButton.astro";
---

<nav
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
>
  <div
    class="flex flex-wrap items-center justify-between mx-auto py-4 px-8 lg:px-32"
  >
    <a href="/">
      <img src="/images/logo.svg" alt="Logo" />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="hidden lg:block">
        <RequestButton />
      </div>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 text-center"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0"
      >
        <li>
          <a
            id="nav-link"
            href="/"
            class="block py-2 px-3 text-grayishBlue rounded md:p-0 2xl:text-lg"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            id="nav-link"
            href="/about"
            class="block py-2 px-3 text-grayishBlue rounded md:p-0 2xl:text-lg"
            >About</a
          >
        </li>
        <li>
          <a
            id="nav-link"
            href="#"
            class="block py-2 px-3 text-grayishBlue rounded md:p-0 2xl:text-lg"
            >Contact</a
          >
        </li>
        <li>
          <a
            id="nav-link"
            href="/blog"
            class="block py-2 px-3 text-grayishBlue rounded md:p-0 2xl:text-lg"
            >Blog</a
          >
        </li>
        <li>
          <a
            id="nav-link"
            href="#"
            class="block py-2 px-3 text-grayishBlue rounded md:p-0 2xl:text-lg"
            >Careers</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  #nav-link {
    border-bottom: 4px solid transparent;
    transition: border-bottom-width 0.1s ease-in-out;
    height: 100%;
  }
  #nav-link:hover {
    border-bottom: 4px solid;
    color: hsl(233, 26%, 24%);
    border-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      )
      1;
  }
  #nav-link:active {
    border-bottom: 4px solid;
    border-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      )
      1;
  }
</style>
