<button
  class="2xl:text-lg bg-gradient-to-r from-limeGreen to-brightCyan text-white font-semibold py-3 px-9 rounded-3xl hover:opacity-75 active:scale-95 transition duration-150 ease-in-out"
>
  Request Invite
</button>
